main {
  display: flex;
  place-content: center;
  position: relative;
}

.block-editor {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 10px
}

.hidden {
  display: none;
}

.relative {
  position: relative;
}